/Netbins/StudentProsjektV5.0/nbproject/private/
/Netbins/StudentProsjektV5.0/dist/
/Netbins/StudentProsjektV5.0/build/
/Netbins/StudentProsjektV5.0_Kim/nbproject/private/
/Netbins/StudentProsjektV5.0_KimV2/nbproject/private/
/Netbins/StudentProsjektV5.0_KimV2/build/
/Netbins/StudentProsjektV5.0_KimV2/dist/